/* CSS for admin panel */

body {
    font-family: Arial, sans-serif;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.logo img {
    max-width: 100%;
}

.navbar-nav .nav-link {
    color: #333 !important;
}

.admin-panel {
    margin: 50px auto;
    text-align: center;
}

.admin-panel h2 {
    color: #333;
}
